.navbar{
    color: #afafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90vw;
    margin: auto;
    padding: 0.5rem 0;
}

.menu{
    display: none;
}

nav{
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    padding-right: 6rem;
    align-items: center;
}

li{
    list-style: none;
}

.desc{
    width: 85%;
}

.customInput{
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: var(--p-size);
    border: 2px solid #68636a;
    outline: none;;
    background-color: transparent;
    border-radius: 0.35rem;
    color: #ffffff;
}

.specialInput{
    border: 2px solid transparent !important;
    display: inline;
    width: fit-content;
}

.customInput::placeholder{
    color: #6368a3;
}

.customInput:focus,.customInput:focus{
    border: 2px solid white;
}

.activeInput{
    border: 2px solid #ffffff;
    color: white;
}

.labelInput{
    color: #6368a3;
}

.btn{
    width: 100%;
    padding: 1rem;
    border: 2px solid #afafaf;
    background-color: rgb(142, 94, 202);
    border-radius: 0.35rem;
    font-size: var(--p-size);
    color: var(--text-primary);
}

p{
    font-size: calc(var(--p-size) - 5%);
    cursor: pointer;
    letter-spacing: 1px;
}

.active{
    background-color: #6368a3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
}

.episodes{
    width: 90vw;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.episodes .btn{
    width: fit-content;
}
.auioPlayer-cont{
    width: 100vw;
    background-color: var(--theme);
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
}
.rhap_container{
    background-color: rgb(56, 0, 147) !important;
    filter:opacity(0.6);
}

.rhap_time{
    color: rgb(255, 255, 255) !important;
}

.rhap_main-controls-button,.rhap_repeat-button,.rhap_volume-button{
    color: white !important;
}

.rhap_progress-indicator,.rhap_volume-indicator{
    background-color: white !important;
}

@media screen and (width <= 650px) {
    .menu{
        display: block;
        font-size: 1.5rem;
        margin-left: auto;
    }
    nav{
        width: 95vw;
        margin: auto;
        padding: 1rem;
    }

    .navbar{
        gap: 0.75rem;
        /* display: none; */
    }

    p{
        font-size: 0.65rem;
    }

}

@media screen and (width <= 530px) {
    .navbar{
        font-size: 0.6rem;
        gap: 0;
        margin-left: -15px;
    }
    nav{
        padding-left: 0;
    }
    a{
        padding: 0.5rem 0.55rem !important;
    }
    
}